# Neon PostgreSQL or Local Database connection string
DATABASE_URL="postgresql://username:password@your-neon-host.neon.tech/neondb?sslmode=require"

# JWT Auth Secret
JWT_SECRET="your_jwt_secret_key_here"

# Cron secret for automated billing cron jobs
CRON_SECRET="your_cron_secret_token_here"

# Application Public Name
NEXT_PUBLIC_APP_NAME="Sayedi Tower"

